PORT=3001

DB_HOST=127.0.0.1
DB_PORT=1433
DB_NAME=conglomerado_db
DB_USER=conglomerado_user
DB_PASSWORD=tu_password_aqui
# DB_INSTANCE=SQLEXPRESS   <- descomenta si usas named instance (ej. localhost\SQLEXPRESS)
